<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>

<div th:fragment="tiktLogin">
    <form th:action="@{/login}" th:method="post" class="form-login">
        <input type="text" name="ticket_number" class="form-control" placeholder="Ticket Id"/>
        <button type="submit" class="btn btn-lg btn-primary btn-block button">
            Login
        </button>
    </form>
</div>

</body>

</html>
